bs4 => Crawling
urllib.request => to request url

- to open url of website
- check if we are getting http response
- make object of bs4.BeautifulSoup and pass http response to it
- it will return html of that page
- now you have to find out the tag from where you want to extract data

In [25]:
import bs4
# import urllib.request as url
from urllib.request import *
import numpy as np
import pandas as pd

In [2]:
http = urlopen("https://www.usgs.gov/natural-hazards/earthquake-hazards/lists-maps-and-statistics")

In [3]:
page = bs4.BeautifulSoup(http)

In [4]:
table = page.find('table')

In [5]:
headings = table.find_all('th')

In [6]:
headings

[<th>Magnitude</th>,
 <th>2000</th>,
 <th>2001</th>,
 <th>2002</th>,
 <th>2003</th>,
 <th>2004</th>,
 <th>2005</th>,
 <th>2006</th>,
 <th>2007</th>,
 <th>2008</th>,
 <th>2009</th>,
 <th>2010</th>,
 <th>2011</th>,
 <th>2012</th>,
 <th>2013</th>,
 <th>2014</th>,
 <th>2015</th>,
 <th>2016</th>,
 <th>2017</th>,
 <th>2018</th>,
 <th>2019</th>,
 <th scope="row">8.0+</th>,
 <th scope="row">7–7.9</th>,
 <th scope="row">6–6.9</th>,
 <th scope="row">5–5.9</th>,
 <th scope="row">Estimated<br/>Deaths</th>]

In [7]:
headingsData = []
for heading in headings:
#     print(heading.text)
    headingsData.append(heading.text)

In [8]:
headingsData

['Magnitude',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '8.0+',
 '7–7.9',
 '6–6.9',
 '5–5.9',
 'EstimatedDeaths']

In [9]:
del headingsData[0]

In [10]:
headingsData

['2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '8.0+',
 '7–7.9',
 '6–6.9',
 '5–5.9',
 'EstimatedDeaths']

In [11]:
rowHeadings = headingsData[-5:]

In [12]:
rowHeadings

['8.0+', '7–7.9', '6–6.9', '5–5.9', 'EstimatedDeaths']

In [13]:
columnHeadings = headingsData[:-5]

In [14]:
print(columnHeadings)

['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

In [15]:
tdList = table.find_all('td')

In [16]:
len(tdList)

100

In [17]:
tdData = []
for td in tdList:
    tdData.append(td.text)

In [19]:
print(tdData)

['1', '1', '0', '1', '2', '1', '2', '4', '0', '1', '1', '1', '2', '2', '1', '1', '0', '1', '1', '1', '14', '15', '13', '14', '14', '10', '9', '14', '12', '16', '23', '19', '12', '17', '11', '18', '16', '6', '16', '9', '146', '121', '127', '140', '141', '140', '142', '178', '168', '144', '150', '185', '108', '123', '143', '127', '130', '104', '117', '135', '1344', '1224', '1201', '1203', '1515', '1693', '1712', '2074', '1768', '1896', '2209', '2276', '1401', '1453', '1574', '1419', '1550', '1455', '1674', '1492', '231', '21357', '1685', '33819', '298101', '87992', '6605', '708', '88708', '1790', '226050', '21942', '689', '1572', '756', '9624', '1297', '1012', '4535', '244']

In [20]:
tdArray = np.array(tdData)

In [21]:
tdArray.shape

(100,)

In [22]:
tdArray = tdArray.reshape(5,20)

In [24]:
print(tdArray)

[['1' '1' '0' '1' '2' '1' '2' '4' '0' '1' '1' '1' '2' '2' '1' '1' '0' '1'
  '1' '1']
 ['14' '15' '13' '14' '14' '10' '9' '14' '12' '16' '23' '19' '12' '17'
  '11' '18' '16' '6' '16' '9']
 ['146' '121' '127' '140' '141' '140' '142' '178' '168' '144' '150' '185'
  '108' '123' '143' '127' '130' '104' '117' '135']
 ['1344' '1224' '1201' '1203' '1515' '1693' '1712' '2074' '1768' '1896'
  '2209' '2276' '1401' '1453' '1574' '1419' '1550' '1455' '1674' '1492']
 ['231' '21357' '1685' '33819' '298101' '87992' '6605' '708' '88708'
  '1790' '226050' '21942' '689' '1572' '756' '9624' '1297' '1012' '4535'
  '244']]

In [26]:
df = pd.DataFrame(tdArray)

In [28]:
df.columns = columnHeadings

In [30]:
df.index = rowHeadings

In [31]:
df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
8.0+,1,1,0,1,2,1,2,4,0,1,1,1,2,2,1,1,0,1,1,1
7–7.9,14,15,13,14,14,10,9,14,12,16,23,19,12,17,11,18,16,6,16,9
6–6.9,146,121,127,140,141,140,142,178,168,144,150,185,108,123,143,127,130,104,117,135
5–5.9,1344,1224,1201,1203,1515,1693,1712,2074,1768,1896,2209,2276,1401,1453,1574,1419,1550,1455,1674,1492
EstimatedDeaths,231,21357,1685,33819,298101,87992,6605,708,88708,1790,226050,21942,689,1572,756,9624,1297,1012,4535,244

In [33]:
df = df.transpose()

In [34]:
df

     8.0+ 7–7.9 6–6.9 5–5.9 EstimatedDeaths
2000    1    14   146  1344             231
2001    1    15   121  1224           21357
2002    0    13   127  1201            1685
2003    1    14   140  1203           33819
2004    2    14   141  1515          298101
2005    1    10   140  1693           87992
2006    2     9   142  1712            6605
2007    4    14   178  2074             708
2008    0    12   168  1768           88708
2009    1    16   144  1896            1790
2010    1    23   150  2209          226050
2011    1    19   185  2276           21942
2012    2    12   108  1401             689
2013    2    17   123  1453            1572
2014    1    11   143  1574             756
2015    1    18   127  1419            9624
2016    0    16   130  1550            1297
2017    1     6   104  1455            1012
2018    1    16   117  1674            4535
2019    1     9   135  1492             244

In [35]:
df.head()

     8.0+ 7–7.9 6–6.9 5–5.9 EstimatedDeaths
2000    1    14   146  1344             231
2001    1    15   121  1224           21357
2002    0    13   127  1201            1685
2003    1    14   140  1203           33819
2004    2    14   141  1515          298101

In [36]:
df.tail()

     8.0+ 7–7.9 6–6.9 5–5.9 EstimatedDeaths
2015    1    18   127  1419            9624
2016    0    16   130  1550            1297
2017    1     6   104  1455            1012
2018    1    16   117  1674            4535
2019    1     9   135  1492             244