In [2]:
data = {
    "names" : ["Ram", "Shyam", "Gopal", "Anuj", "Raman"],
    "marks" : [56, 78, 76, 97, 56],
    "grade" : ["B", "A", "A", "A+", "B"]
}

In [3]:
data["hobby"] = ["cricket", "cricket", "cricket", "cricket", "cricket"]

In [4]:
data

{'names': ['Ram', 'Shyam', 'Gopal', 'Anuj', 'Raman'],
 'marks': [56, 78, 76, 97, 56],
 'grade': ['B', 'A', 'A', 'A+', 'B'],
 'hobby': ['cricket', 'cricket', 'cricket', 'cricket', 'cricket']}

In [5]:
import pandas as pd

In [6]:
pd.DataFrame(data)

   names  marks grade    hobby
0    Ram     56     B  cricket
1  Shyam     78     A  cricket
2  Gopal     76     A  cricket
3   Anuj     97    A+  cricket
4  Raman     56     B  cricket

Data Science
- Data Collection ( Web Crawling ) - bs4 
- Data Analysis ( Exploratory Data Analysis ) - numpy + pandas
    - Data Cleaning
    - Data Mining
    - Statistical Analysis
    - Data Preprocessing - pandas + sklearn
        - Handle missing values
        - Feature Scaling ( Normalization / Standardization )
        - Label Encoding
- Data Visualization - matplotlib / seaborn / bokeh
- Predictive Modeling ( Machine Learning ) - sklearn
- Optimization
- Data Visualization ( show results on graph )